<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.erp.dao.UserMapper">
  <sql id="Base_Column_List">
    user_id, user_name, password, true_name, remarks
  </sql>
  <resultMap id="BaseResultMap" type="com.xxxx.erp.vo.User">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="true_name" jdbcType="VARCHAR" property="trueName" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <insert id="insert" parameterType="com.xxxx.erp.vo.User">
    insert into t_user (user_id, user_name, password, 
      true_name, remarks
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{trueName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xxxx.erp.vo.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="trueName != null">
        true_name,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxxx.erp.vo.User">
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null">
        true_name = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxxx.erp.vo.User">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      true_name = #{trueName,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

    <!--通过用户名查询用户记录,返回用户对象-->
  <select id="queryUserByName" parameterType="string" resultType="com.xxxx.erp.vo.User">
        select
            <include refid="Base_Column_List"/>
        from
            t_user
        where
            user_name = #{userName}
  </select>

  <!-- 多条件查询 -->
  <select id="selectByParams" parameterType="com.xxxx.erp.query.UserQuery" resultType="com.xxxx.erp.vo.User">
    select
    <include refid="Base_Column_List"></include>
    from
    t_user
    <where>
      <!-- 用户名查询 -->
      <if test="null != userName and userName != ''">
        and user_name like concat('%',#{userName},'%')
      </if>
      <!-- 邮箱查询 -->
      <if test="null != remarks and remarks != ''">
        and remarks like concat('%',#{remarks},'%')
      </if>

    </where>
  </select>

  <!-- 删除用户 -->
  <delete id="deleteBatch">
    delete from
    t_user
    where
    user_id
    in
    <foreach collection="array" item="userId" open="(" close=")" separator=",">
      #{userId}
    </foreach>
  </delete>



</mapper>